.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
  }
  
  #image img {
    width: 300px; /* Adjust size as needed */
    height: auto;
  }
  
  .searchbar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
  
  .searchbar input {
    width: 50%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #usericon img {
    width: 300px; /* Adjust size as needed */
    height: auto;
  }
  